<footer id="dk-footer" class="dk-footer">
  <div class="container-fluid footer-content">
    <div class="row">
      <div class="col-md-12 col-lg-4">
        <div class="dk-footer-box-info">
          <a href="index.html" class="footer-logo">
            <img
              src="/images/logo.png"
              alt="footer_logo"
              class="img-fluid footer-logo-image"
            />
          </a>
          <p class="footer-info-text">
            CALM CONSULT LTD was established and incorporated by the registrar
            of companies in 2016 with strong foundation in organizational
            design, development and in identifying the right candidates for
            organizations.
          </p>
        </div>
        <!-- End Footer info -->
        <div class="footer-awarad">
          <img src="images/icon/best.png" alt="" />
          <p>Calm consult Uganda</p>
        </div>
      </div>
      <!-- End Col -->
      <div class="col-md-12 col-lg-8">
        <div class="row">
          <div class="col-md-6">
            <div class="contact-us">
              <div class="contact-icon">
                <i class="fa fa-map-o" aria-hidden="true"></i>
              </div>
              <!-- End contact Icon -->
              <div class="contact-info">
                <h3>Kampala Uganda</h3>
                <p>Makerere University Hill</p>
              </div>
              <!-- End Contact Info -->
            </div>
            <!-- End Contact Us -->
          </div>
          <!-- End Col -->
          <div class="col-md-6">
            <div class="contact-us contact-us-last">
              <div class="contact-icon">
                <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
              </div>
              <!-- End contact Icon -->
              <div class="contact-info">
                <h3>+256 701 800185</h3>
                <p>Give us a call</p>
              </div>
              <!-- End Contact Info -->
            </div>
            <!-- End Contact Us -->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Contact Row -->
        <div class="row">
          <div class="col-md-12 col-lg-6">
            <div class="footer-widget footer-left-widget">
              <div class="section-heading">
                <h3>Useful Links</h3>
                <span class="animate-border border-black"></span>
              </div>
              <ul>
                <li>
                  <a href="/aboutus.html">About us</a>
                </li>
                <li>
                  <a href="/researchandtraining.html">Research</a>
                </li>
                <li>
                  <a href="/recruitmentandselection.html">Recruitment</a>
                </li>
                <li>
                  <a href="#">Repository</a>
                </li>
                <li>
                  <a href="contactus.html">contact us</a>
                </li>
              </ul>
            </div>
            <!-- End Footer Widget -->
          </div>
          <!-- End col -->
          <div class="col-md-12 col-lg-6">
            <div class="footer-widget">
              <div class="section-heading">
                <h3>Subscribe</h3>
                <span class="animate-border border-black"></span>
              </div>
              <p class="footer-info-text">
                <!-- Don’t miss to subscribe to our new feeds, kindly fill the form below. -->
                You can quickly get in touch with us using our email contacts,
                just click the button.
              </p>
              <form action="#">
                <div class="form-row">
                  <div class="col dk-footer-form">
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Email Address"
                    />
                    <button type="submit">
                      <i class="fab fa-whatsapp"></i>
                    </button>
                  </div>
                </div>
              </form>
              <!-- End form -->
            </div>
            <!-- End footer widget -->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
      <!-- End Col -->
    </div>
    <!-- End Widget Row -->
  </div>
  <!-- End Contact Container -->

  <script
    type="text/javascript"
    src="https://popupsmart.com/freechat.js"
  ></script>
  <script>
    window.start.init({
      title: "Hi there ✌️",
      message:
        "How may we help you? Just send us a message now to get assistance.",
      color: "#70309f",
      position: "right",
      placeholder: "Enter your message",
      withText: "Write with",
      viaWhatsapp: "Or write us directly via Whatsapp",
      gty: "Go to your",
      awu: "and write us",
      connect: "Connect now",
      button: "Write us",
      device: "everywhere",
      logo: "https://d2r80wdbkwti6l.cloudfront.net/JZidvkbcMK16nP5T1OuV3WMouVhgjqsN.jpg",
      services: [{ name: "whatsapp", content: "+256 701 800185" }],
    });
  </script>

  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <span
            >Copyright ©
            <script>
              document.write(new Date().getFullYear());
            </script>
            , All Right Reserved Calm consult Uganda</span
          >
        </div>
      </div>
      <!-- End Row -->
    </div>
    <!-- End Copyright Container -->
  </div>
  <!-- End Copyright -->
  <!-- Back to top -->

  <div id="scroll-to-top" class="down-top">
    <a href="" class="my-bottom-button"> <i class="fas fa-angle-up"></i></a>
  </div>
  <!-- End Back to top -->
</footer>
