<nav id="min-nav">
  <div class="left-contact container-fluid">
    <div class="ml-md-auto d-flex">
      <p>Email: admin@calmconsultug.com</p>
      <p>Tell: <span> +256701800185</span></p>
    </div>
  </div>
</nav>

<nav id="main-navbar" class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="https://calmconsultug.com/">
    <img class="nav-logo" src="/images/logo.png" alt="" />
    Calm Consult</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="https://calmconsultug.com/"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://calmconsultug.com/aboutus.html"
          >About us
        </a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle mainnav-dropdown"
          href="#"
          id="mainnav-dropdown"
          role="button"
          data-toggle="dropdown"
          aria-expanded="false"
        >
          Our services
        </a>
        <div class="dropdown-menu" aria-labelledby="mainnav-dropdown">
          <a
            class="dropdown-item"
            href="https://calmconsultug.com/recruitmentandselection.html"
            >Recruitment</a
          >
          <a
            class="dropdown-item"
            href="https://calmconsultug.com/researchandtraining.html"
            >Research design & Training</a
          >
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="repository.calmconsultug.com">Repository</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://calmconsultug.com/contactus.html"
          >Contact us</a
        >
      </li>
    </ul>
  </div>
</nav>
