<h2>recently added</h2>
<ul class="recently-added-articles">
  <% for(const content of recentlyAdded) {%>
  <li>
    <h4>
      <a href="/calmconsultdocuments/<%=content.id %> ">
        <%=content.title %>
      </a>
    </h4>
    <div class="article-muted text-muted">
      <span class="author">
        <% for(const author of content.authors) {%>
        <small class="authorcapital"> <%= author %> </small>
        , <% } %>
      </span>
      <span class="publisherDate">
        <small>
          (
          <span class="publisher"> Calm Consult </span>
          <span class="date"> <%=content.publishDate %> </span>
          )
        </small>
      </span>
    </div>
    <div class="article-abstract">
      The major aim of this study was to develop a records preservation system
      at Uganda Prisons Service [UPS]. The objectives of the study were to study
      the current systems at the Uganda Prisons Service that helped to identify
    </div>
  </li>
  <% } %>
</ul>
<a class="boldme" href="/calmconsult/repoitory/alldocuments"
  >view all documents</a
>
