<% (layout('/layout/boilerplate')) %>
<div class="container recently-added">
  <div class="row">
    <div class="col-lg-9">
      <h2>Add a new publication</h2>
      <div class="content-form">
        <form
          action="/repositoryadmin/add"
          method="POST"
          class="needs-validation"
          novalidate
        >
          <div class="form-group">
            <label for="title">Title</label>
            <input
              type="text"
              name="title"
              class="form-control"
              id="title"
              placeholder="Humans and the new technology"
              required
            />
          </div>
          <div class="form-group">
            <label for="authors">author(s)</label>
            <input
              type="text"
              name="authors"
              class="form-control"
              id="authors"
              placeholder="Nakamatte Edith, Kiberu samuel"
              required
            />
          </div>
          <div class="form-group">
            <label for="publishDate">Date of Publication</label>
            <input
              type="date"
              name="publishDate"
              class="form-control"
              id="publishDate"
              placeholder="2020-04"
            />
          </div>

          <div class="form-group">
            <label for="collections">Collection</label>
            <input
              type="text"
              name="collections"
              class="form-control"
              id="collections"
              placeholder="Theses and Dissertations"
              required
            />
          </div>
          <div class="form-group">
            <label for="subject">subject</label>
            <input
              type="text"
              name="subject"
              class="form-control"
              id="subject"
              placeholder="Child abuse"
              required
            />
          </div>
          <div class="form-group">
            <label for="abstract">abstract</label>
            <textarea
              name="abstract"
              class="form-control"
              id="abstract"
              rows="5"
            ></textarea>
          </div>

          <div class="form-group">
            <label for="accessRestriction">Access restriction</label>
            <select
              name="accessRestriction"
              multiple
              class="form-control"
              id="accessRestriction"
              required
            >
              <option selected disabled value="">
                Choose an access level...
              </option>
              <option value="public">Public</option>
              <option value="private">Private</option>
            </select>
            <div class="invalid-feedback">please choose access level.</div>
          </div>
          <div class="form-group custom-file mb-5">
            <input
              name="uploadedDocument"
              type="file"
              class="custom-file-input doc1"
              id="uploadContent"
              required
            />
            <label class="custom-file-label" for="uploadContent"
              >Choose file...</label
            >
            <div class="invalid-feedback">
              Choose a pdf file of from computer
            </div>
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="col-md-3 my-3">
            <button class="btn btn-primary calm-button" type="submit">
              Upload Content
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-lg-3"><%- include('../partials/sidemenu') %></div>
  </div>
</div>
